@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
body {
    background-color: blue;
}

.grup {

    font-family: 'Poppins', sans-serif;
    width: 400px;
    height: 460px;
    background-color: #eaeaea;
    border-radius: 5%;
}

.grup .isi .amjai {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.isi h1 {
    margin-bottom: 2rem;
    margin-top: 1.7rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.grup .isi .woi input {
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    padding-left: 0.5rem;
    width: 250px;
}

.grup .isi .form-check {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.grup .isi .form-check .daftar {
    margin-left: 4.8rem;
    text-decoration: none;
}